* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#placa {
  border: 1px solid red;
  display: flex;
}

#letter-group, #number-group {
  display: flex;
}

.character {
  border: 1px solid blue;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  height: 20vh;
}

.character:hover {
  background-color: rgba(0, 0, 0, .2);
  transition: 250ms;
}

.alphabet {
  margin-top: 2rem;
}
